<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
</head>
<body class="home">
    <div class="container">
        <div class="content">
            <h2>About</h2>
            <p>Application for planning travels.</p>
            <p>You can add, review and manage your trips.</p>
        </div>
    

        <a class="homeA" href="/trips">Go to Trips</a>
    </div>
    
</body>
</html>